#*
*$
*.BAK
*.Z
*.bak
*.class
*.elc
*.ln
*.log
*.o
*.obj
*.olb
*.old
*.orig
*.pyc
*.pyo
*.rej
*/.git/*
*~
,*
.#*
.DS_Store
.del-*
.make.state
.nse_depinfo
CVS.adm
RCS
RCSLOG
SCCS
_$*
lifesaver/icons/battery_charging_000.ico
lifesaver/icons/battery_charging_000.py
lifesaver/icons/battery_charging_020.ico
lifesaver/icons/battery_charging_020.py
lifesaver/icons/battery_charging_040.ico
lifesaver/icons/battery_charging_040.py
lifesaver/icons/battery_charging_060.ico
lifesaver/icons/battery_charging_060.py
lifesaver/icons/battery_charging_080.ico
lifesaver/icons/battery_charging_080.py
lifesaver/icons/battery_charging_100.ico
lifesaver/icons/battery_charging_100.py
lifesaver/icons/battery_discharging_000.ico
lifesaver/icons/battery_discharging_000.py
lifesaver/icons/battery_discharging_020.ico
lifesaver/icons/battery_discharging_020.py
lifesaver/icons/battery_discharging_040.ico
lifesaver/icons/battery_discharging_040.py
lifesaver/icons/battery_discharging_060.ico
lifesaver/icons/battery_discharging_060.py
lifesaver/icons/battery_discharging_080.ico
lifesaver/icons/battery_discharging_080.py
lifesaver/icons/battery_discharging_100.ico
lifesaver/icons/battery_discharging_100.py
